@model IEnumerable<Restaurantopia.Entities.Models.OrderDetails>

@{
    ViewData["Title"] = "Order Index";
}

<h1>Order Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id <!-- Display Order ID -->
            </th>
            <th>
                Item Name<!-- Display Item Name -->
            </th>
            <th>
                Total Price<!-- Display Total Price -->
            </th>
            <th>
                Quantity <!-- Display Quantity -->
            </th>
            <th>
                Date of Order <!-- Display Order Date -->
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Id) <!-- Display Order ID -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Item.ItemTitle) <!-- Display Item Name -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Total) <!-- Display Total Price -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Quantity) <!-- Display Quantity -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Date) <!-- Display Order Date -->
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Item.ItemImage) <!-- Display Order Date -->
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = order.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = order.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = order.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
