@model IEnumerable<Restaurantopia.Entities.Models.Item>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Menu";
    Layout = "_MenuPage";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

<div class="filters-content">
    <div class="row grid">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4 all pizza">
                <div class="box">
                    <div class="img-box">
                        @if (item.imageSrc == null || item.imageSrc == "")
                        {
                            <img src="\Images\no-image.webp" alt="NOImage" width="100%" height="100%" style="padding: 0; margin: 0; border: none;" />
                        }
                        else
                        {
                            <img src="@item.imageSrc" alt="NOImage" width="100%" height="100%" style="padding: 0; margin: 0; border: none;" />
                        }
                    </div>

                    <div class="detail-box">
                        <h5>@item.ItemTitle</h5>
                        <p>@item.ItemDescription</p>
                        <div class="options">
                            <h6>$@item.ItemPrice</h6>
                        </div>
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="options">
                                @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "bi bi-pencil icon-white" }) |
                                @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "bi bi-eye icon-white" }) |
                                @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "bi bi-trash icon-white" }) |
                                @Html.ActionLink("Add to Cart", "Create", "OrderDetails", new { itemId = item.Id }, null)
                            </div>
                        }
                        else
                        {
                            <div class="options" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "bi bi-eye icon-white" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .icon-white {
        color: black;
    }
</style>
